[tool.poetry]
name = "irpf-cei"
version = "2.1.1"
description = "Programa auxiliar gratuito para calcular custos de ações, ETFs e FIIs."
authors = ["Thiago Carvalho D'Ávila <thiagocavila@gmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/staticdev/irpf-cei"
homepage = "https://github.com/staticdev/irpf-cei"
documentation = "https://irpf-cei.readthedocs.io"

[tool.poetry.urls]
Changelog = "https://github.com/staticdev/irpf-cei/releases"

[tool.poetry.dependencies]
python = "^3.8"
pandas = "^1.0.3"
click = "^7.1.1"
xlrd = "^1.2.0"
inquirer = "^2.6.3"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.3"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.1.4"
safety = "^1.8.7"
pytest = "^6.0.1"
mypy = "^0.782"
coverage = {extras = ["toml"], version = "^5.2"}
pytest-mock = "^3.3.1"
pyfakefs = "^4.1.0"
typeguard = "^2.9.1"
reorder-python-imports = "^2.3.5"
pre-commit = "^2.7.1"
pygments = "^2.6.1"
xdoctest = "^0.14.0"
sphinx = "^3.2.1"
sphinx-autobuild = "^2020.9.1"
darglint = "^1.5.4"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.0.13"
pep8-naming = "^0.11.1"
pre-commit-hooks = "^3.2.0"

[tool.poetry.scripts]
irpf-cei = "irpf_cei.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["irpf_cei"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
